[Unit]
Description=etcd

[Service]
User=etcd
PermissionsStartOnly=true
ExecStart=/usr/bin/etcd 
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
