[Unit]
Description=etcd

[Service]
User=etcd
Group=etcd
PermissionsStartOnly=true
WorkingDirectory=/var/lib/etcd
EnvironmentFile=/etc/etcd/etcd.env
ExecStart=/usr/bin/etcd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
