[Unit]
Description=etcd

[Service]
User=etcd
Group=etcd
PermissionsStartOnly=true
EnvironmentFile=/etc/etcd/env
ExecStart=/usr/bin/etcd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
