[Unit]
Description=Tinc daemon for net %i
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/tincd -n %i --pidfile /var/run/tinc.%i.pid

[Install]
WantedBy=multi-user.target
